Origin: OSMC
Version: 13.9.993
Section: multimedia
Essential: No
Priority: optional
Provides: xbmc, kodi
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Media Center package for OSMC
Package: rbp-mediacenter-osmc
