Origin: OSMC
Version: 16.9.5-1
Section: video
Essential: No
Priority: required
Provides: xbmc, kodi
Conflicts: xbmc, kodi
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Media Center package for OSMC
