[Unit]
Description=Disables rounding for HDR content

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo round1 > /sys/class/amhdmitx/amhdmitx0/debug'
