Origin: OSMC
Version: 5.4.1-1
Section: tools
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: QT BSP for OSMC
Package: rbp2-qt-bsp-dev-osmc
Depends: rbp2-qt-bsp-osmc
Package: vero-qt-bsp-dev-osmc
Depends: vero-qt-bsp-osmc
Package: vero-qt-bsp-dev-osmc
Depends: vero-qt-bsp-osmc
