Origin: OSMC
Version: 1.3.5-1
Section: utils
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: udisks for OSMC
Depends: libconfuse0, libdbus-1-3, libdbus-glib-1-2, libglib2.0-0
Pre-Depends: udisks-osmc (>=9.99-9)
