Origin: OSMC
Package: rbp-bootloader-osmc
Version: 1.0-2
Section: tools
Essential: No
Priority: optional
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Raspberry Pi Bootloader components
