Origin: OSMC
Package: rbp-bootloader-osmc
Version: 1.1.3-0
Section: kernel
Essential: No
Priority: Required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Raspberry Pi Bootloader components
