Origin: OSMC
Package: rbp-bootloader-osmc
Version: 1.0.5
Section: tools
Essential: No
Priority: Required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Raspberry Pi Bootloader components
