Origin: OSMC
Package: shell-app-osmc
Version: 1.0.2
Section: tools
Essential: No
Depends: shellinabox
Architecture: all
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Web based shell for OSMC with pre-populated configuration
