Origin: OSMC
Version: 3.9.0
Section: tools
Essential: No
Depends: osmc-dvb-firmware, dvb-apps
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: TVHeadend for OSMC
Package: tvheadend-osmc-app
