Origin: OSMC
Package: mediainfo-app-osmc
Version: 1.0.0
Section: metapackages
Essential: No
Depends: cron
Architecture: all
Priority: required
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: mediainfo for OSMC
