Origin: OSMC
Package: ssh-app-osmc
Version: 1.0.7
Section: tools
Essential: No
Depends: openssh-server
Architecture: all
Priority: required
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: SSH server for OSMC with prepopulated configuration
