Origin: OSMC
Package: rbp-device-tree-compiler-osmc
Version: 1.4.0-1
Section: utils
Essential: No
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Device tree compiler with support for RaspberryPi overlay
