Origin: OSMC
Version: 23.2.0-2
Section: libs
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: MESA graphical libraries for OSMC
Depends: libexpat1, zlib1g
Provides: libegl-mesa0, libegl1, libgl1, libgl1-mesa-dri, libglapi-mesa, libglx-mesa0, libglx0
Replaces: libegl-mesa0, libegl1, libgl1, libgl1-mesa-dri, libglapi-mesa, libglx-mesa0, libglx0
Conflicts: libegl-mesa0, libegl1, libgl1, libgl1-mesa-dri, libglapi-mesa, libglx-mesa0, libglx0
