Origin: OSMC
Version: 23.2.0-5
Section: libs
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: MESA graphical libraries for OSMC
Depends: libexpat1, zlib1g
