<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32001">
		<setting action="RunScript($CWD/resources/lib/grablogs.py, upload)" id="5" label="32012" option="close" type="action"/>
		<setting action="RunScript($CWD/resources/lib/grablogs.py, copy)"   id="6" label="32038" option="close" type="action"/>
		<setting type="sep"/>
		<setting default="false" id="all" label="32002" type="bool"/>
		<setting type="sep"/>
		<setting default="false" id="uname" label="32031" type="bool" visible="eq(-2,false)"/>
		<setting default="false" id="dmesg" label="32041" type="bool" visible="eq(-3,false)"/>
		<setting default="false" id="kodi" label="32003" type="bool" visible="eq(-4,false)"/>
		<setting default="false" id="config" label="32004" type="bool" visible="eq(-5,false)"/>
		<setting default="false" id="packages" label="32005" type="bool" visible="eq(-6,false)"/>
		<setting default="false" id="allothers" label="32022" type="bool" visible="eq(-7,false)"/>
		<setting default="false" id="apt" label="32006" type="bool" visible="eq(-8,false)"/>
		<setting default="false" id="advancedsettings" label="32016" type="bool" visible="eq(-9,false)"/>
		<setting default="false" id="fstab" label="32017" type="bool" visible="eq(-10,false)"/>
		<setting default="false" id="sources" label="32018" type="bool" visible="eq(-11,false)"/>
		<setting default="false" id="keyboard" label="32019" type="bool" visible="eq(-12,false)"/>
		<setting default="false" id="remote" label="32037" type="bool" visible="eq(-13,false)"/>
		<setting default="false" id="system" label="32021" type="bool" visible="eq(-14,false)"/>
		<setting default="false" id="lirc" label="32029" type="bool" visible="eq(-15,false)"/>
		<setting default="false" id="boot" label="32030" type="bool" visible="eq(-16,false)"/>
		<setting default="false" id="initd" label="32032" type="bool" visible="eq(-17,false)"/>
		<setting default="false" id="systemd" label="32033" type="bool" visible="eq(-18,false)"/>
		<setting default="false" id="mem" label="32034" type="bool" visible="eq(-19,false)"/>
		<setting default="false" id="diskspace" label="32035" type="bool" visible="eq(-20,false)"/>
	</category>
</settings>

