Origin: OSMC
Package: vero2-earlysplash-osmc
Version: 1.0.1
Section: libs
Essential: No
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero2 logo partition
