Origin: OSMC
Package: rbp1-device-osmc
Version: 1.1.1
Section: metapackages
Essential: No
Depends: base-files-osmc, busybox, systemd, systemd-sysv, perftune-osmc, sysctl-osmc, rbp1-ftr-osmc, diskmount-osmc, apt-utils, sudo, less, module-init-tools, armv6l-network-osmc, locales, dialog, nano | editor, rbp-bootloader-osmc, armv6l-splash-osmc, rbp1-armmem-osmc, rbp-userland-osmc, armv6l-remote-osmc, fake-hwclock, rbp1-mediacenter-osmc, rbp1-kernel-osmc, apt-transport-https
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Raspberry Pi 1 metapackage
