Origin: OSMC
Package: amd64-toolchain-osmc
Version: 1.0.2
Section: tools
Essential: No
Priority: optional
Architecture: all
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: OSMC toolchain for amd64 architecture
