Origin: OSMC
Package: mediacenter-eventclients-common-osmc
Version: 1.0.0
Section: main
Essential: No
Priority: required
Architecture: all
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Eventclient common resources for mediacenter
