Origin: OSMC
Section: libs
Essential: No
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: libamcodec
Package: libamcodec-dev-osmc
Replaces: vero2-libamcodec-dev-osmc, vero3-libamcodec-dev-osmc
