[Unit]
Description = OSMC Jenkins Slave
After = network-online.target

[Service]
Type = simple
EnvironmentFile=/etc/jenkins-slave.conf
ExecStart = /opt/osmc-tc/jenkins-slave/jenkins-slave

[Install]
WantedBy = multi-user.target

