Origin: OSMC
Package: network-osmc
Version: 1.0.0
Section: main
Essential: Yes
Priority: required
Architecture: all
Depends: connman, wireless-firmware-osmc, net-tools, ntp, wpasupplicant, wget
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Network support for OSMC
