Origin: OSMC
Package: network-osmc
Version: 1.2.4
Section: main
Essential: Yes
Priority: required
Architecture: all
Depends: connman, bluez, wireless-firmware-osmc, net-tools, ntp, wpasupplicant, wget, libnss-mdns, nfs-common, cifs-utils, ca-certificates, curl, python-dbus, python-gobject
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Network support for OSMC
