Origin: OSMC
Package: vero1-bootloader-osmc
Version: 1.0.3
Section: libs
Essential: No
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero bootloader package
