Origin: OSMC
Package: base-files-osmc
Version: 1.0.31
Section: main
Essential: Yes
Priority: required
Architecture: all
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: modified base-files for OSMC system
