Origin: OSMC
Package: base-files-osmc
Version: 1.6.9
Section: admin
Priority: required
Architecture: all
Depends: kbd
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: modified base-files for OSMC system
