Origin: OSMC
Package: mediacenter-skin-osmc
Version: 1.01
Section: tools
Essential: Yes
Priority: optional
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: OSMC skin for mediacenter
