Origin: OSMC
Package: mediacenter-skin-osmc
Version: 18.4.0-35
Section: video
Essential: No
Priority: optional
Architecture: all
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: OSMC skin for mediacenter
