[Unit]
Description=Pulse Audio

[Install]
WantedBy=multi-user.target
        
[Service]
Type=simple
ExecStart=/usr/bin/pulseaudio --system --disallow-exit --disable-shm --realtime --no-cpu-limit
