[Unit]
Description = media center application
After = remote-fs.target network-online.target mysql.service
Wants = network-online.target

[Service]
Type = simple
TimeoutStopSec = 20
ExecStart = /usr/bin/mediacenter
ExecStopPost = /usr/bin/mediacenter stop
Restart = on-abort

[Install]
WantedBy = multi-user.target
