# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib


# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
package/mediacenter-addon-osmc/src/string_check.py
*.gitignore
*.project
*.pyc
osmc/ipch/osmc-bfc7b023/osmc-ad685afe.ipch
*.sdf
*.sln
*.suo
osmc/osmc/osmc.cpp
*.vcxproj
*.filters
osmc/osmc/ReadMe.txt
osmc/osmc/stdafx.cpp
osmc/osmc/stdafx.h
osmc/osmc/targetver.h
