Origin: OSMC
Package: smb-app-osmc
Version: 1.1.8
Section: metapackages
Essential: No
Pre-Depends: samba
Depends: diskmount-osmc (>= 1.2.8)
Architecture: all
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Samba server for OSMC with prepopulated configuration
