Origin: OSMC
Package: jenkins-slave-osmc
Version: 0.9.2
Section: tools
Priority: optional
Architecture: all
Depends: default-jre-headless, git, build-essential
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Installs a jenkins.osmc.tv slave running in daemon mode.
