Package: udisks
Origin: OSMC
Version: 9.99-10
Section: utils
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: udisks transitional package for OSMC
Architecture: all
