Origin: OSMC
Package: java-app-osmc
Version: 1.0.0
Section: metapackages
Essential: No
Depends: default-jre
Architecture: all
Priority: required
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Java runtime environment for OSMC
