Origin: OSMC
Package: libshairplay-dev
Version: 0.1
Section: libs
Essential: No
Priority: optional
Depends: libshairplay (>=0.1)
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: libshairplay package with headers
