Origin: OSMC
Version: 2.8.4-11
Section: video
Essential: No
Depends: libcurl3-gnutls, libglib2.0-0, libevent-2.0-5, libminiupnpc10, libappindicator3-1, libnatpmp1, zlib1g, libssl1.0.0
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Transmission for OSMC
