Origin: OSMC
Version: 3.0.0-2
Section: video
Essential: No
Depends: libcurl4, libglib2.0-0, libevent-2.1-7, libminiupnpc17, libappindicator3-1, libnatpmp1, zlib1g, libssl1.1, libsystemd0
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Transmission for OSMC
