Origin: OSMC
Package: rbp2-device-osmc
Version: 1.2.4
Section: metapackages
Essential: No
Depends: base-files-osmc, busybox, systemd, systemd-sysv, perftune-osmc, armv7-irqbalance-osmc, sysctl-osmc, rbp2-ftr-osmc, diskmount-osmc, apt-utils, sudo, less, module-init-tools, armv7-network-osmc, locales, dialog, nano | editor, rbp-bootloader-osmc, armv7-splash-osmc, rbp2-armmem-osmc, rbp-userland-osmc, armv7-remote-osmc, fake-hwclock, rbp2-mediacenter-osmc, rbp2-kernel-osmc, apt-transport-https
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Raspberry Pi 2 metapackage
