Origin: OSMC
Package: osmc-mediacenter
Version: 13.1-0
Section: multimedia
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Media Center package for OSMC
