[Unit]
ConditionKernelCommandLine=osmc.root_wants_resize=1

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/resizemmc

