Origin: OSMC
Package: vero2-bootloader-osmc
Version: 1.0.0-1
Section: kernel
Essential: No
Priority: Required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero 2 bootloader components
Installed-Size: 381
