Origin: OSMC
Package: diskmount2-osmc
Version: 2.0.0-1
Section: metapackages
Priority: required
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Disk automounting for OSMC using udevil with standby support
