Origin: OSMC
Package: diskmount2-osmc
Version: 2.0.0-1
Section: metapackages
Priority: required
Depends: udisks, udisks-glue, hdparm, dosfstools, exfat-utils, exfat-fuse, hfsutils, ntfs-3g, policykit-1, eject
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Disk automounting for OSMC using udevil with standby support
