<?xml version="1.0" encoding="UTF-8"?>
<window>
	<!-- settings -->
	<backgroundcolor>$VAR[BackgroundColour]</backgroundcolor>
	<defaultcontrol>9000</defaultcontrol>
	<onload condition="!IsEmpty(Window(settings).Property(ChangeSettingsLevel))">ClearProperty(ChangeSettingsLevel)</onload>

	<controls>

		<!-- Time -->
		<include>Time</include>

		<!-- List -->
		<control type="grouplist" id="9000">
			<centerleft>50%</centerleft>
			<top>183</top>
			<width>600</width>
			<height>1080</height>
			<itemgap>18</itemgap>
			<onleft>Close</onleft>
			<onup>noop</onup>
			<ondown>noop</ondown>
			<orientation>vertical</orientation>

			<!-- Appearance -->
			<control type="button" id="1">
				<width>600</width>
				<height>42</height>
				<label>480</label>
				<font>font42</font>
				<align>center</align>
				<textcolor>TextColorNF</textcolor>
				<focusedcolor>TextColorFO</focusedcolor>
				<onclick>ActivateWindow(appearancesettings)</onclick>
			</control>
			<!-- Videos -->
			<control type="button" id="2">
				<width>600</width>
				<height>42</height>
				<label>3</label>
				<font>font42</font>
				<align>center</align>
				<textcolor>TextColorNF</textcolor>
				<focusedcolor>TextColorFO</focusedcolor>
				<onclick>ActivateWindow(videossettings)</onclick>
			</control>
			<!-- Music -->
			<control type="button" id="3">
				<width>600</width>
				<height>42</height>
				<label>2</label>
				<font>font42</font>
				<align>center</align>
				<textcolor>TextColorNF</textcolor>
				<focusedcolor>TextColorFO</focusedcolor>
				<onclick>ActivateWindow(musicsettings)</onclick>
			</control>
			<!-- Pictures -->
			<control type="button" id="4">
				<width>600</width>
				<height>42</height>
				<label>1</label>
				<font>font42</font>
				<align>center</align>
				<textcolor>TextColorNF</textcolor>
				<focusedcolor>TextColorFO</focusedcolor>
				<onclick>ActivateWindow(picturessettings)</onclick>
			</control>
			<!-- Weather -->
			<control type="button" id="5">
				<width>600</width>
				<height>42</height>
				<label>8</label>
				<font>font42</font>
				<align>center</align>
				<textcolor>TextColorNF</textcolor>
				<focusedcolor>TextColorFO</focusedcolor>
				<onclick>ActivateWindow(weathersettings)</onclick>
			</control>
			<!-- System -->
			<control type="button" id="6">
				<width>600</width>
				<height>42</height>
				<label>13000</label>
				<font>font42</font>
				<align>center</align>
				<textcolor>TextColorNF</textcolor>
				<focusedcolor>TextColorFO</focusedcolor>
				<onclick>ActivateWindow(systemsettings)</onclick>
			</control>
			<!-- Service -->
			<control type="button" id="7">
				<width>600</width>
				<height>42</height>
				<label>14036</label>
				<font>font42</font>
				<align>center</align>
				<textcolor>TextColorNF</textcolor>
				<focusedcolor>TextColorFO</focusedcolor>
				<onclick>ActivateWindow(servicesettings)</onclick>
			</control>
			<!-- PVR -->
			<control type="button" id="8">
				<width>600</width>
				<height>42</height>
				<label>31015</label>
				<font>font42</font>
				<align>center</align>
				<textcolor>TextColorNF</textcolor>
				<focusedcolor>TextColorFO</focusedcolor>
				<onclick>ActivateWindow(pvrsettings)</onclick>
			</control>
			<!-- System info -->
			<control type="button" id="9">
				<width>600</width>
				<height>42</height>
				<label>130</label>
				<font>font42</font>
				<align>center</align>
				<textcolor>TextColorNF</textcolor>
				<focusedcolor>TextColorFO</focusedcolor>
				<onclick>ActivateWindow(systeminfo)</onclick>
			</control>
			<!-- Addons -->
			<control type="button" id="10">
				<width>600</width>
				<height>42</height>
				<font>font42</font>
				<align>center</align>
				<label>24001</label>
				<textcolor>TextColorNF</textcolor>
				<focusedcolor>TextColorFO</focusedcolor>
				<onclick>ActivateWindow(addonbrowser)</onclick>
			</control>
			<!-- Profiles -->
			<control type="button" id="11">
				<width>600</width>
				<height>42</height>
				<font>font42</font>
				<align>center</align>
				<label>13200</label>
				<textcolor>TextColorNF</textcolor>
				<focusedcolor>TextColorFO</focusedcolor>
				<onclick>ActivateWindow(profiles)</onclick>
			</control>
			<!-- File manager -->
			<control type="button" id="12">
				<width>600</width>
				<height>42</height>
				<font>font42</font>
				<align>center</align>
				<label>7</label>
				<textcolor>TextColorNF</textcolor>
				<focusedcolor>TextColorFO</focusedcolor>
				<onclick>ActivateWindow(filemanager)</onclick>
			</control>

		</control>

	</controls>

</window>