Package: vero1-wifi-osmc
Architecture: armhf
Origin: OSMC
Version: 1.0.1-2
Section: libs
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Broadcom BCM4330 patchram implementation for Vero
