Origin: OSMC
Package: vero2-device-osmc
Version: 1.1.8
Section: metapackages
Essential: No
Depends: base-files-osmc, busybox, systemd, systemd-sysv, perftune-osmc, vero2-ftr-osmc, armv7-diskmount-osmc, apt-utils, sudo, less, kmod, armv7-network-osmc, locales, dialog, nano | editor, armv7-splash-osmc, vero2-userland-osmc, armv7-remote-osmc, fake-hwclock, vero2-kernel-osmc, vero2-mediacenter-osmc, kbd, vero2-earlysplash-osmc, lsb-release
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero 2 metapackage
