Origin: OSMC
Package: vero2-device-osmc
Version: 1.0.0
Section: metapackages
Essential: No
Depends: base-files-osmc, busybox, systemd, systemd-sysv, perftune-osmc, armv7-irqbalance-osmc, sysctl-osmc, vero2-ftr-osmc, diskmount-osmc, apt-utils, sudo, less, module-init-tools, armv7-network-osmc, ethtool, vero1-wifi-osmc, locales, dialog, nano | editor, armv7-splash-osmc, vero2-userland-osmc, armv7-remote-osmc, fake-hwclock, vero2-kernel-osmc, apt-transport-https
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero 2 metapackage
