Origin: OSMC
Package: libafpclient-dev
Version: 0.8.1
Section: libs
Essential: No
Priority: optional
Depends: libafpclient (>=0.8.1-5)
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: libafpclient package with headers
