[Unit]
Description=Connection service

[Service]
Type=dbus
BusName=net.connman
Restart=on-failure
ExecStart = /bin/sh -c "/usr/bin/start-network"
StandardOutput=null

[Install]
WantedBy=multi-user.target
