[Unit]
Description=Connman connection service
Requires=dbus.socket
After=dbus.socket dbus.service
Wants=network.target
Before=remote-fs-pre.target network.target
Wants=remote-fs-pre.target

[Service]
Type=dbus
BusName=net.connman
EnvironmentFile=-/etc/connman.prefs
Restart=always
RestartSec=5
ExecStart = /usr/bin/start-network
StandardOutput=null

[Install]
WantedBy=multi-user.target
