Origin: OSMC
Package: appletv-darwin-cross-osmc
Version: 1.0.0
Section: tools
Essential: No
Priority: optional
Architecture: i386
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Darwin Cross Tools for 1st Generation Apple TV
