Origin: OSMC
Package: lamp-app-osmc
Version: 1.0.2
Section: metapackages
Essential: No
Depends: mysql-server, mysql-client, apache2, php5, php5-mysql, libapache2-mod-php5
Architecture: all
Priority: required
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: LAMP stack for OSMC with prepopulated configuration
