Origin: OSMC
Version: 1.3.0-3
Section: utils
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: connman for OSMC
Depends: dbus, init-system-helpers, libdbus-1-3, libglib2.0-0, libgnutls-deb0-28, libreadline6, libxtables10
