<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- 32001: Update Schedule -->
	<category label="32001">
		<!-- 32002: How often do you want to check for updates? -->
		<setting default="1" id="check_freq" label="32002" lvalues="32003|32004|32005|32006" type="enum"/>
		<!-- 32003: Never, 32004: Daily, 32005: Weekly, 32006: Monthly -->
		<!-- . -->
		<!-- 32007: Day -->
		<setting default="1" id="check_weekday" label="32007" lvalues="32008|32009|32010|32011|32012|32013|32014" subsetting="true" type="enum" visible="eq(-1,2)"/>
		<!-- 32008: Monday ... 32014: Sunday -->
		<!-- . -->
		<!-- 32015: Days before/after month-end -->
		<setting default="0" id="check_day" label="32015" option="int" range="-16,1,16" subsetting="true" type="slider" visible="eq(-2,3)"/>
		<!-- 32016: Do you want to choose a specific time to check? -->
		<setting default="0" id="check_time" label="32016" lvalues="32017|32018" subsetting="true" type="enum" visible="!eq(-3,0)"/>
		<!-- 32017: random, 32018: specific -->
		<!-- . -->
		<!-- 32019: Hour -->
		<setting default="12" id="check_hour" label="32019" option="int" range="0,1,23" subsetting="true" type="slider" visible="!eq(-4,0)+eq(-1,1)"/>
		<!-- 32023: Minute -->
		<setting default="0" id="check_minute" label="32023" option="int" range="0,1,59" subsetting="true" type="slider" visible="!eq(-5,0)+eq(-2,1)"/>
		<!-- 32069: Only check for updates if system is idle for 1 minute -->
		<setting default="true" id="update_on_idle" label="32069" type="bool"/>
	</category>
	<category label="32093">
		<!-- 32064: Action when updates are found -->
		<setting default="0" id="on_upd_detected" label="32059" lvalues="32057|32058|32059|32060|32061" type="enum"/>
		<!-- 32057: "Prompt for all actions" -->
		<!-- 32058: "Display icon on home screen only" -->
		<!-- 32059: "Download updates, then prompt" *********-->
		<!-- 32060: "Download and display icon" -->
		<!-- 32061: "Download and install automatically" ************* -->
		<!-- 32062: "Download, install, auto-restart if needed" -->
		<!-- . -->
		<!-- 32065: Only show prompts on the Home screen -->
		<setting default="false" id="home_prompts_only" label="32065" type="bool" visible="eq(-1, 0)"/>
		<!-- 32066: Icon Position X (% of screen) -->
		<!-- <setting default="5" id="pos_x" label="32066" option="int" range="0,1,100" type="slider" visible="!eq(-2,0)"/>-->
		<!-- 32067: Icon Position Y (% of screen) -->
		<!-- <setting default="5" id="pos_y" label="32067" option="int" range="0,1,100" type="slider" visible="!eq(-3,0)"/>-->
		<!-- 32046: Suppress on-screen progress updates -->
		<setting default="false" id="suppress_progress" label="32046" type="bool"/>
		<!-- 32068: Do not show icon on home screen -->
		<setting default="false" id="suppress_icon" label="32068" type="bool"/>
	</category>
	<category label="Backups">
		<!-- backup before updating -->
		<setting default="false" id="backup_on_update" label="Backup before each update (excludes manual update)." type="bool"/>
		<!-- . -->
		<!-- export the libraries -->
		<!-- . -->
		<setting default="false" id="export_library" label="Export libraries" type="bool"/>
		<setting visible="eq(-1,true)" subsetting="true" default="false" id="export_video" label="Export Video Library" type="bool"/>
		<setting visible="eq(-1,true)+eq(-2,true)" subsetting="true" default="false" id="multifile_vid_export" label="Export individual xml files to the video locations" type="bool"/>
		<setting visible="eq(-3,true)" subsetting="true" default="false" id="export_music" label="Export Music Library" type="bool"/>
		<!-- . -->
		<!-- create tarball of folders and files -->
		<!-- . -->
		<setting default="false" id="create_tarball" label="create_tarball" type="bool"/>
		<!-- location of backup -->
		<setting visible="eq(-1,true)" subsetting="true" id="backup_location" label="Location of backup storage" source="auto" option="writeable" type="folder"/>
		<!-- number of backup tarballs to keep -->
		<setting default="1" id="tarball_count" label="Number of backup files to keep (0 for keep all)" option="int" range="0,1,25" subsetting="true" type="slider" visible="eq(-2,true)"/>
		<!-- folders and files to tarball -->
		<setting visible="eq(-3,true)" subsetting="true" default="false" id="backup_addons" label="Addons Folder" type="bool"/>
		<setting visible="eq(-4,true)" subsetting="true" default="true" id="backup_addon_data" label="Addon Data Folder" type="bool"/>
		<setting visible="eq(-5,true)" subsetting="true" default="true" id="backup_Database" label="Database Folder" type="bool"/>
		<setting visible="eq(-6,true)" subsetting="true" default="true" id="backup_keymaps" label="Keymaps Folder" type="bool"/>
		<setting visible="eq(-7,true)" subsetting="true" default="true" id="backup_library" label="Library Folder" type="bool"/>
		<setting visible="eq(-8,true)" subsetting="true" default="true" id="backup_peripheral_data" label="Peripheral_data Folder" type="bool"/>
		<setting visible="eq(-9,true)" subsetting="true" default="true" id="backup_playlists" label="Playlists Folder" type="bool"/>
		<setting visible="eq(-10,true)" subsetting="true" default="false" id="backup_Thumbnails" label="Thumbnails Folder (very large)" type="bool"/>
		<setting visible="eq(-11,true)" subsetting="true" default="true" id="backup_favourites" label="favourites.xml" type="bool"/>
		<setting visible="eq(-12,true)" subsetting="true" default="true" id="backup_guisettings" label="guisettings.xml" type="bool"/>
		<setting visible="eq(-13,true)" subsetting="true" default="true" id="backup_keyboard" label="keyboard.xml" type="bool"/>
		<setting visible="eq(-14,true)" subsetting="true" default="true" id="backup_remote" label="remote.xml" type="bool"/>
		<setting visible="eq(-15,true)" subsetting="true" default="true" id="backup_LCD" label="LCD.xml" type="bool"/>
		<setting visible="eq(-16,true)" subsetting="true" default="true" id="backup_profiles" label="profiles.xml" type="bool"/>
		<setting visible="eq(-17,true)" subsetting="true" default="true" id="backup_RssFeeds" label="RssFeeds.xml" type="bool"/>
		<setting visible="eq(-18,true)" subsetting="true" default="true" id="backup_sources" label="sources.xml" type="bool"/>
		<setting visible="eq(-19,true)" subsetting="true" default="true" id="backup_upnpserver" label="upnpserver.xml" type="bool"/>
		<setting visible="eq(-20,true)" subsetting="true" default="true" id="backup_advancedsettings" label="advancedsettings.xml" type="bool"/>

	</category>
	<category label="32094">
		<!-- 32056: Scan for updates now -->
		<setting action="RunScript($CWD/resources/lib/call_parent.py, update)" id="update_now" label="32056" option="close" type="action"/>
		<!-- backup now -->
		<setting action="RunScript($CWD/resources/lib/call_parent.py, backup)" id="backup_now" label="Run Backup of settings now." option="close" type="action"/>
		<!-- restore now -->
		<setting action="RunScript($CWD/resources/lib/OSMC_Backups.py, restore)" id="restore_now" label="Restore a backup of settings now." option="close" type="action"/>
	</category>
</settings>