Origin: OSMC
Package: ftp-osmc-app
Version: 1.0.0
Section: tools
Essential: No
Depends: vsftpd
Architecture: all
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: FTP extension for OSMC with prepopulated configuration
