Origin: OSMC
Package: sysctl-osmc
Version: 1.0.2
Section: admin
Essential: Yes
Priority: required
Architecture: all
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: sysctl tweaks for OSMC
