Origin: OSMC
Package: vero2-userland-osmc
Version: 1.0.0-3
Section: libs
Essential: No
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero 2 userland package
