Origin: OSMC
Version: 5.3.8-8
Section: utils
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: bluez for OSMC
Depends: dbus, kmod, libdbus-1-3, libglib2.0-0, libreadline6, libudev1
Pre-Depends: bluez (>= 9.99-9)
