Origin: OSMC
Version: 5.62-3
Section: utils
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: bluez for OSMC
Depends: dbus, kmod, libdbus-1-3, libglib2.0-0, libreadline8, libudev1
