Origin: OSMC
Package: mediacenter-addon-osmc
Version: 3.0.519
Section: utils
Essential: No
Priority: optional
Architecture: all
Depends: python-apt, python-pexpect, python-requests
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: OSMC addon for mediacenter
