Origin: OSMC
Package: mediacenter-addon-osmc
Version: 1.44
Section: tools
Essential: No
Priority: optional
Architecture: armhf
Depends: python-apt
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: OSMC addon for mediacenter
