Origin: OSMC
Package: mediacenter-addon-osmc
Version: 1.62
Section: tools
Essential: No
Priority: optional
Architecture: all
Depends: python-apt, python-pexpect
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: OSMC addon for mediacenter
