[Unit]
Description=Setup OSMC machine ID

[Service]
Type=oneshot
ExecStart=/usr/bin/osmc/myosmc-id-setup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
