Origin: OSMC
Package: pc-userland-osmc
Version: 1.0.0-1
Section: libs
Essential: No
Priority: required
Architecture: amd64
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: PC userland package
