<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

<category label="Network Settings">
<setting label="This settings module is still under construction." type="text" enable="false"/>
<!-- <setting label="Please use My OSMC instead" type="text" enable="false"/> -->
</category>


</settings>
