Origin: OSMC
Package: vero3-userland-dev-osmc
Section: libs
Essential: No
Priority: required
Architecture: arm64
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero 3 userland package with headers
