<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>ICON_HERE</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>VERVAL</string>
	<key>CFBundleSignature</key>
	<string> ???? </string>
	<key>CFBundleExecutable</key>
	<string>qt_host_installer</string>
	<key>CFBundleIdentifier</key>
	<string>tv.osmc.installer</string>
	<key>NOTE</key>
	<string>No Note Here</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
