[Unit]
Description=TrustedApplication loader for OSMC SecureOS

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/opt/securevero/secureos/bin/apploader
