[Unit]
Description=Transmission BitTorrent Daemon
After=udisks-glue.service
Requires=udisks-glue.service

[Service]
User=osmc
Group=osmc
Type=notify
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/transmission-daemon -f --log-error --allowed 0.0.0.0

[Install]
WantedBy=multi-user.target
