Origin: OSMC
Package: atv-remoteclient-osmc
Version: 1.0.4
Section: utils
Essential: No
Priority: optional
Architecture: i386
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: atvclient for 1st Generation Apple TV
