Origin: OSMC
Version: 4.0.7-2
Section: video
Essential: No
Depends: dvb-firmware-osmc, dvb-tools, libavahi-client3, avahi-daemon, zlib1g, liburiparser1, libavcodec56, libavutil54, libavformat56, libswscale3, python-minimal, libhdhomerun1, bzip2
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: TVHeadend for OSMC
