Origin: OSMC
Version: 3.9.0-5
Section: video
Essential: No
Depends: dvb-firmware-osmc, dvb-tools, libavahi-client3, avahi-daemon
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: TVHeadend for OSMC
