Origin: OSMC
Version: 4.2.8-1
Section: video
Essential: No
Depends: dvb-firmware-osmc, dvb-tools, libavahi-client3, avahi-daemon, zlib1g, liburiparser1, python-minimal, libhdhomerun3, bzip2, liburiparser1, gzip, libdvbcsa1, libssl1.0.2, libcurl3, libsystemd0
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: TVHeadend for OSMC
