Origin: OSMC
Package: rbp1-toolchain-osmc
Version: 1.0.9
Section: tools
Essential: No
Priority: optional
Depends: qemu, binfmt-support, qemu-user-static
Architecture: all
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: OSMC toolchain for Raspberry Pi 1
