<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="32012">
        <setting label="32013" type="bool" id="plot_enable" default="true"/>
        <setting label="32003" type="text" id="limit" default="20"/>
    </category>
    <category label="32002">
        <setting label="32011" type="bool" id="randomitems_unplayed" default="true"/>
    </category>
    <category label="32009">
        <setting label="32011" type="bool" id="recentitems_unplayed" default="true"/>
    </category>
</settings>
