Origin: OSMC
Section: video
Essential: No
Priority: required
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Media Center debug package for OSMC
Package: atv-mediacenter-debug-osmc
Version: 15.9.9-1
Depends: atv-mediacenter-osmc (=15.9.9-1)
