Origin: OSMC
Version: 15.1.0-16
Section: video
Essential: No
Priority: required
Provides: xbmc, kodi
Conflicts: xbmc, kodi
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Media Center debug package for OSMC
