Origin: OSMC
Section: video
Essential: No
Priority: required
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Media Center debug package for OSMC
Package: vero3-mediacenter-debug-osmc
Version: 18.3.0-17
Depends: vero3-mediacenter-osmc (=18.3.0-17)
