Origin: OSMC
Package: mediacenter-screenreader-osmc
Version: 1.0.6
Section: utils
Essential: No
Priority: optional
Architecture: all
Recommends: espeak
Suggests: festival, flite, speech-dispatcher
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Kodi Screen Reader addon for mediacenter
