<?xml version="1.0" encoding="UTF-8"?>
<window>
	<!-- settings -->
	<backgroundcolor>0</backgroundcolor>
	<defaultcontrol>9000</defaultcontrol>
	<controls>
		<!-- Background -->
		<include>WindowBackground</include>
		<!-- Heading -->
		<include>Heading</include>
		<!-- Time -->
		<include>Time</include>
		<!-- Main controls -->
		<control type="group">
			<include>WindowFadeAnimation</include>
			<!-- Main list -->
			<control type="list" id="9000">
				<left>50</left>
				<top>140</top>
				<width>480</width>
				<height>780</height>
				<onup>noop</onup>
				<ondown>noop</ondown>
				<onleft>noop</onleft>
				<onright>noop</onright>
				<orientation>vertical</orientation>
				<scrolltime tween="cubic" easing="out">360</scrolltime>
				<itemlayout width="480" height="78">
					<control type="label">
						<left>90</left>
						<top>0</top>
						<width>390</width>
						<height>78</height>
						<font>XLarge</font>
						<textcolor>ColorNF</textcolor>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</itemlayout>
				<focusedlayout width="480" height="78">
					<control type="group">
						<visible>Control.HasFocus(9000)</visible>
						<control type="image">
							<top>6</top>
							<width>66</width>
							<height>66</height>
							<texture>$INFO[ListItem.Icon]</texture>
						</control>
						<control type="label">
							<left>90</left>
							<top>0</top>
							<width>390</width>
							<height>78</height>
							<font>XLarge</font>
							<textcolor>ColorFO</textcolor>
							<label>$INFO[ListItem.Label]</label>
						</control>
					</control>
					<control type="group">
						<visible>!Control.HasFocus(9000)</visible>
						<control type="image">
							<top>6</top>
							<width>66</width>
							<height>66</height>
							<texture>$INFO[ListItem.Icon]</texture>
						</control>
						<control type="label">
							<left>90</left>
							<top>0</top>
							<width>390</width>
							<height>78</height>
							<font>XLarge</font>
							<textcolor>ColorSelected</textcolor>
							<label>$INFO[ListItem.Label]</label>
						</control>
					</control>
				</focusedlayout>
				<content>
					<item id="1">
						<label>480</label>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="2">
						<label>157</label>
						<onclick>ActivateWindow(VideosSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="3">
						<label>19020</label>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="4">
						<label>2</label>
						<onclick>ActivateWindow(MusicSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="5">
						<label>1</label>
						<onclick>ActivateWindow(PicturesSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="6">
						<label>8</label>
						<onclick>ActivateWindow(WeatherSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="7">
						<label>24001</label>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
						<icon>-</icon>
					</item>
					<item id="8">
						<label>14036</label>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="9">
						<label>13000</label>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="10">
						<label>13200</label>
						<onclick>ActivateWindow(profiles)</onclick>
						<icon>-</icon>
					</item>
				</content>
			</control>
			<!-- Next item -->
			<control type="image">
				<left>140</left>
				<top>920</top>
				<width>40</width>
				<height>4</height>
				<texture colordiffuse="ColorSelected">common/white.png</texture>
				<visible>Container(9000).HasNext</visible>
			</control>
		</control>
	</controls>
</window>