<?xml version="1.0" encoding="UTF-8"?>
<window>
	<!-- settings -->
	<backgroundcolor>0xff2e4655</backgroundcolor>
	<defaultcontrol>9000</defaultcontrol>
	<onload condition="!IsEmpty(Window(settings).Property(ChangeSettingsLevel))">ClearProperty(ChangeSettingsLevel)</onload>

	<controls>

		<!-- Background -->
		<include>WindowBackgroundImage</include>

		<!-- Curve -->
		<control type="image">
			<right>20</right>
			<top>20</top>
			<width>1520</width>
			<height>1040</height>
			<texture border="40,0,0,0">common/Curve.png</texture>
			<visible>Skin.HasSetting(ShowCurve)</visible>
			<animation effect="fade" start="100" end="0" time="0" condition="!ControlGroup(8000).HasFocus + !Control.HasFocus(20)">Conditional</animation>
		</control>

		<!-- Curve -->
		<control type="image">
			<right>20</right>
			<top>20</top>
			<width>1172</width>
			<height>1040</height>
			<texture border="40,0,0,0">common/Curve.png</texture>
			<visible>Skin.HasSetting(ShowCurve)</visible>
			<animation effect="fade" start="100" end="0" time="0" condition="!ControlGroup(500).HasFocus">Conditional</animation>
		</control>

		<!-- Time -->
		<include>Time</include>

		<!-- List -->
		<control type="grouplist" id="9000">
			<left>120</left>
			<top>240</top>
			<width>300</width>
			<height>870</height>
			<itemgap>34</itemgap>
			<onleft>Close</onleft>
			<onup>noop</onup>
			<ondown>noop</ondown>
			<orientation>vertical</orientation>

			<!-- Appearance -->
			<control type="button" id="1">
				<width>300</width>
				<height>42</height>
				<label>480</label>
				<font>OLD_Font42</font>
				<textcolor>TextColor2</textcolor>
				<focusedcolor>TextColor1</focusedcolor>
				<onclick>ActivateWindow(appearancesettings)</onclick>
				<onright>ActivateWindow(appearancesettings)</onright>
				<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
			</control>
			<!-- Videos -->
			<control type="button" id="2">
				<width>300</width>
				<height>42</height>
				<label>3</label>
				<font>OLD_Font42</font>
				<textcolor>TextColor2</textcolor>
				<focusedcolor>TextColor1</focusedcolor>
				<onclick>ActivateWindow(videossettings)</onclick>
				<onright>ActivateWindow(videossettings)</onright>
				<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
			</control>
			<!-- Music -->
			<control type="button" id="3">
				<width>300</width>
				<height>42</height>
				<label>2</label>
				<font>OLD_Font42</font>
				<textcolor>TextColor2</textcolor>
				<focusedcolor>TextColor1</focusedcolor>
				<onclick>ActivateWindow(musicsettings)</onclick>
				<onright>ActivateWindow(musicsettings)</onright>
				<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
			</control>
			<!-- Pictures -->
			<control type="button" id="4">
				<width>300</width>
				<height>42</height>
				<label>1</label>
				<font>OLD_Font42</font>
				<textcolor>TextColor2</textcolor>
				<focusedcolor>TextColor1</focusedcolor>
				<onclick>ActivateWindow(picturessettings)</onclick>
				<onright>ActivateWindow(picturessettings)</onright>
				<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
			</control>
			<!-- Weather -->
			<control type="button" id="5">
				<width>300</width>
				<height>42</height>
				<label>8</label>
				<font>OLD_Font42</font>
				<textcolor>TextColor2</textcolor>
				<focusedcolor>TextColor1</focusedcolor>
				<onclick>ActivateWindow(weathersettings)</onclick>
				<onright>ActivateWindow(weathersettings)</onright>
				<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
			</control>
			<!-- System -->
			<control type="button" id="6">
				<width>300</width>
				<height>42</height>
				<label>13000</label>
				<font>OLD_Font42</font>
				<textcolor>TextColor2</textcolor>
				<focusedcolor>TextColor1</focusedcolor>
				<onclick>ActivateWindow(systemsettings)</onclick>
				<onright>ActivateWindow(systemsettings)</onright>
				<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
			</control>
			<!-- Service -->
			<control type="button" id="7">
				<width>300</width>
				<height>42</height>
				<label>14036</label>
				<font>OLD_Font42</font>
				<textcolor>TextColor2</textcolor>
				<focusedcolor>TextColor1</focusedcolor>
				<onclick>ActivateWindow(servicesettings)</onclick>
				<onright>ActivateWindow(servicesettings)</onright>
				<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
			</control>
			<!-- PVR -->
			<control type="button" id="8">
				<width>300</width>
				<height>42</height>
				<label>31015</label>
				<font>OLD_Font42</font>
				<textcolor>TextColor2</textcolor>
				<focusedcolor>TextColor1</focusedcolor>
				<onclick>ActivateWindow(pvrsettings)</onclick>
				<onright>ActivateWindow(pvrsettings)</onright>
				<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
			</control>
			<!-- System info -->
			<control type="button" id="9">
				<width>300</width>
				<height>42</height>
				<label>130</label>
				<font>OLD_Font42</font>
				<textcolor>TextColor2</textcolor>
				<focusedcolor>TextColor1</focusedcolor>
				<onclick>ActivateWindow(systeminfo)</onclick>
				<onright>ActivateWindow(systeminfo)</onright>
				<animation effect="fade" start="100" end="70" time="0" condition="!ControlGroup(9000).HasFocus">Conditional</animation>
			</control>
			<!-- More -->
			<control type="button" id="10">
				<width>300</width>
				<height>42</height>
				<label>22082</label>
				<font>OLD_Font42</font>
				<textcolor>$VAR[MoreButtonFade]</textcolor>
				<focusedcolor>TextColor1</focusedcolor>
				<onclick>SetFocus(8000)</onclick>
				<onright>SetFocus(8000)</onright>
			</control>

		</control>

		<!-- More list -->
		<control type="grouplist" id="8000">
			<left>480</left>
			<top>244</top>
			<width>1680</width>
			<height>726</height>
			<itemgap>34</itemgap>
			<onleft>9000</onleft>
			<onright>noop</onright>
			<onup>noop</onup>
			<ondown>noop</ondown>
			<orientation>vertical</orientation>
			<animation effect="fade" start="100" end="0" time="0" condition="!ControlGroup(8000).HasFocus + !Control.HasFocus(20)">Conditional</animation>

			<!-- Addons -->
			<control type="button" id="8001">
				<width>970</width>
				<height>42</height>
				<font>OLD_Font33</font>
				<label>24001</label>
				<textcolor>TextColor2</textcolor>
				<focusedcolor>TextColor1</focusedcolor>
				<invalidcolor>TextColor4</invalidcolor>
				<disabledcolor>TextColor4</disabledcolor>
				<onright>ActivateWindow(addonbrowser)</onright>
				<onclick>ActivateWindow(addonbrowser)</onclick>
			</control>
			<!-- Profiles -->
			<control type="button" id="8002">
				<width>970</width>
				<height>42</height>
				<font>OLD_Font33</font>
				<label>13200</label>
				<textcolor>TextColor2</textcolor>
				<focusedcolor>TextColor1</focusedcolor>
				<invalidcolor>TextColor4</invalidcolor>
				<disabledcolor>TextColor4</disabledcolor>
				<onright>ActivateWindow(profiles)</onright>
				<onclick>ActivateWindow(profiles)</onclick>
			</control>
			<!-- File manager -->
			<control type="button" id="8003">
				<width>970</width>
				<height>42</height>
				<font>OLD_Font33</font>
				<label>7</label>
				<textcolor>TextColor2</textcolor>
				<focusedcolor>TextColor1</focusedcolor>
				<invalidcolor>TextColor4</invalidcolor>
				<disabledcolor>TextColor4</disabledcolor>
				<onright>ActivateWindow(filemanager)</onright>
				<onclick>ActivateWindow(filemanager)</onclick>
			</control>
			<!-- Settings level -->
			<control type="button" id="8004">
				<width>970</width>
				<height>42</height>
				<font>OLD_Font33</font>
				<label>31016</label>
				<textcolor>TextColor2</textcolor>
				<focusedcolor>TextColor1</focusedcolor>
				<invalidcolor>TextColor4</invalidcolor>
				<disabledcolor>TextColor4</disabledcolor>
				<onright>SetProperty(ChangeSettingsLevel,true)</onright>
				<onright>ActivateWindow(appearancesettings)</onright>
				<onclick>SetProperty(ChangeSettingsLevel,true)</onclick>
				<onclick>ActivateWindow(appearancesettings)</onclick>
			</control>

		</control>

		<!-- More list indicator -->
		<control type="image">
			<left>442</left>
			<top>248</top>
			<width>20</width>
			<height>60</height>
			<colordiffuse>OverlayColorFO</colordiffuse>
			<texture border="6,1,8,1">common/ScrollBackground.png</texture>
			<animation effect="fade" start="100" end="0" time="0" condition="!ControlGroup(8000).HasFocus + !Control.HasFocus(20)">Conditional</animation>
			<animation effect="fade" start="100" end="50" time="0" condition="Control.HasFocus(20)">Conditional</animation>
		</control>

	</controls>

</window>