Origin: OSMC
Package: pc-device-osmc
Version: 1.0.8
Section: metapackages
Essential: No
Depends: base-files-osmc, busybox, systemd, systemd-sysv, perftune-osmc, sysctl-osmc, pc-ftr-osmc, amd64-diskmount-osmc, apt-utils, sudo, less, kmod, amd64-network-osmc, locales, dialog, nano | editor, amd64-splash-osmc, pc-userland-osmc, amd64-remote-osmc, pc-mediacenter-osmc, pc-kernel-osmc, kbd
Priority: required
Architecture: amd64
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: PC metapackage
