Origin: OSMC
Package: armv7-toolchain-osmc
Version: 1.2.3
Section: tools
Essential: No
Priority: optional
Depends: qemu, binfmt-support, qemu-user-static
Architecture: all
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: OSMC toolchain for ARMv7
