Origin: OSMC
Package: ftr-osmc
Version: 1.0.3
Section: main
Essential: Yes
Priority: required
Architecture: all
Depends: systemd
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: First-time-run scripts for OSMC
