Package: bluez
Origin: OSMC
Version: 9.99-9
Section: utils
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: bluez transitional package for OSMC
Architecture: all
