Origin: OSMC
Version: 3.0.0-3
Section: libs
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: libcec package with headers
Package: vero-libcec-dev-osmc
Depends: vero-libcec-osmc
Architecture: armhf
Installed-Size: 115
