Origin: OSMC
Section: libs
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: libcec package with headers
Version: 4.0.4-1
Depends: vero2-libcec-osmc (=4.0.4-1)
Package: vero2-libcec-dev-osmc
