Package: vero5-bootloader-osmc
Architecture: armhf
Origin: OSMC
Version: 1.1.0-2
Section: libs
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero V UBoot package
