Origin: OSMC
Package: atv-userland-osmc
Version: 1.0.0-7
Section: libs
Essential: No
Priority: required
Architecture: i386
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: AppleTV userland package
