Origin: OSMC
Package: vero3-device-osmc
Version: 1.1.0
Section: metapackages
Essential: No
Depends: base-files-osmc, busybox, systemd, systemd-sysv, perftune-osmc, sysctl-osmc, vero3-ftr-osmc, diskmount-osmc, apt-utils, sudo, less, module-init-tools, aarch64-network-osmc, locales, dialog, nano | editor, aarch64-splash-osmc, vero3-userland-osmc, aarch64-remote-osmc, fake-hwclock, vero364-kernel-osmc, kbd, lvm2, vero3-earlysplash-osmc, vero3-wifi-osmc, vero3-mediacenter-osmc, vero3-fwenv-osmc
Priority: required
Architecture: arm64
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero 3 metapackage
