Origin: OSMC
Package: vero3-device-osmc
Version: 1.3.4
Section: metapackages
Essential: No
Depends: base-files-osmc, busybox, systemd, systemd-sysv, perftune-osmc, sysctl-osmc, vero3-ftr-osmc, armv7-diskmount-osmc, apt-utils, sudo, less, kmod, armv7-network-osmc, locales, dialog, nano | editor, armv7-splash-osmc, vero3-userland-osmc, armv7-remote-osmc, fake-hwclock, vero364-kernel-osmc:arm64, kbd, vero3-earlysplash-osmc, vero3-wifi-osmc, vero3-mediacenter-osmc, vero3-fwenv-osmc
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero 3 metapackage
