Origin: OSMC
Version: 0.9.3-4
Section: libs
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: libbluray library for OSMC
Depends: libfreetype6, libxml2, liblzma5, libpng16-0, libfontconfig1
