Origin: OSMC
Package: dvb-firmware-osmc
Version: 1.0.0
Section: libs
Essential: No
Priority: optional
Architecture: All
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: DVB firmware (proprietary) for OSMC
