Origin: OSMC
Package: mediacenter-send-osmc
Version: 1.0.0-5
Section: utils
Essential: No
Depends: mediacenter-eventclients-common-osmc (>= 1.0.4)
Priority: optional
Architecture: all
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Eventclient send for mediacenter
