Origin: OSMC
Version: 1.5.0
Section: metapackages
Priority: required
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Disk automounting for OSMC using udisks with standby support
Pre-Depends: diskmount-osmc (>= 9.99-9)
