Origin: OSMC
Package: diskmount-osmc
Version: 1.0.13
Section: main
Essential: Yes
Priority: required
Architecture: all
Depends: udisks, udisks-glue, hdparm, dosfstools, exfat-utils, hfsutils, ntfs-3g, policykit-1
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Disk automounting for OSMC using udisks with standby support
