Origin: OSMC
Package: diskmount-osmc
Version: 1.4.1
Section: metapackages
Priority: required
Architecture: all
Depends: udisks, udisks-glue, hdparm, dosfstools, exfat-utils, exfat-fuse, hfsutils, ntfs-3g, policykit-1, eject
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Disk automounting for OSMC using udisks with standby support
