Origin: OSMC
Package: rbp-userland-osmc
Version: 1.1.6-3
Section: libs
Essential: No
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Raspberry Pi userland package
