Origin: OSMC
Package: rbp-userland-osmc
Version: 3.8.0-2
Section: libs
Essential: No
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Raspberry Pi userland package
Replaces: wireless-firmware-osmc, rbp2-device-osmc, rbp4-device-osmc
