Origin: OSMC
Package: bluez-alsa-osmc
Version: 1.0.0
Section: utils
Essential: No
Depends: bluez, libbluetooth3, libsbc1, libfdk-aac1
Architecture: all
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Bluetooth audio streaming for OSMC
Installed-Size: 696
