Package: rapidjson-dev-osmc
Version: 1.1.0-1
Origin: OSMC
Section: libs
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: rapidjson package with headers
Architecture: all
