# This file describes the bluetooth sinks available for Kodi to play to
# add lines like the following for each BT device (speaker or headphones)

#pcm.mybtdevice {
#        type bluealsa
#        device "12:34:56:78:9A:BC"
#        profile "a2dp"
#        hint { show on description "My device name"}
#}

# using the MAC of the device (see bluetoothctl) instead of 12:34:56:78:9A:BC
# Use any letters or numbers for the description which will show up in Settings-System-Audio
