Origin: OSMC
Package: base-files
Version: 9.0.2
Section: main
Essential: Yes
Priority: required
Architecture: all
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Depends: perftune-osmc
Description: modified base-files for OSMC system
