ACTION=="add", KERNEL=="amvideo", SUBSYSTEM=="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="amstream*", SUBSYSTEM=="amstream-dev", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="amsubtitle", SUBSYSTEM=="subtitle", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="amremote", SUBSYSTEM=="amremote", GROUP="osmc", MODE="0660"
ACTION=="add", KERNEL=="amhdmitx0", SUBSYSTEM=="amhdmitx", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="mali", SUBSYSTEM=="misc", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="fb0", SUBSYSTEM=="graphics", PROGRAM="/bin/sh -c 'chgrp -R video /sys/%p; chmod -R g+u /sys/%p'"
ACTION=="add", KERNEL=="fb1", SUBSYSTEM=="graphics", PROGRAM="/bin/sh -c 'chgrp -R video /sys/%p; chmod -R g+u /sys/%p'"
ACTION=="add", KERNEL=="amaudio*", SUBSYSTEM=="amaudio*", GROUP="audio", MODE="0660"
