<service-group>
 <name replace-wildcards="yes">Samba Shares on %h</name> 
 ## Display Name 
 <service>
  <type>_smb._tcp</type>
  <port>445</port>
 </service>
</service-group>
