Origin: OSMC
Version: 3.8.11.1-2
Section: libs
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: libsqlite library optimised for Kodi
Provides: libsqlite3-0
Replaces: libsqlite3-0
Conflicts: libsqlite3-0
