[Unit]
Description = Samba Server
After = network.target network-online.target nmbd.service smbd.service
BindsTo = nmbd.service smbd.service

[Service]
Type = oneshot
RemainAfterExit = yes
ExecStart = /bin/true

[Install]
WantedBy = multi-user.target
