[Desktop Entry]
Name=OSMC Installer
Exec=sudo /usr/bin/osmc/qt_host_installer
Icon=/usr/bin/osmc/icon.png
Type=Application
Categories=AudioVideo;Video;Player;TV;
