[Desktop Entry]
Name=OSMC Installer
Exec=sudo LD_LIBRARY_PATH=/usr/lib/osmc /usr/bin/osmc/qt_host_installer
Icon=/usr/bin/osmc/icon.png
Type=Application
Categories=AudioVideo;Video;Player;TV;
