[Desktop Entry]
Name=OSMC Installer
Exec=/usr/share/osmc/osmcinstaller
Icon=/usr/share/osmc/icon.png
Type=Application
Categories=AudioVideo;Video;Player;TV;

X-KDE-SubstituteUID=true
