Origin: OSMC
Version: 1.1.6
Section: metapackages
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Remote support for OSMC, achieved with lirc and eventlircd
