Origin: OSMC
Package: diskmountpolicy-osmc
Version: 1.0.0
Section: main
Essential: Yes
Priority: required
Depends: policykit-1, upower
Architecture: all
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Configures policykit to grant OSMC user ability to mount disks
