Origin: OSMC
Version: 2.4.0-8
Section: libs
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: librtmp library
Architecture: armhf
Package: armv7-librtmp-osmc
