Origin: OSMC
Version: 3.6.2-1
Section: utils
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: cmake for OSMC
Depends: libcurl3, libarchive13, libexpat1, zlib1g, libjsoncpp1, liblzma5, libbz2-1.0
