Origin: OSMC
Version: 3.8.11.1-2
Section: libs
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: libsqlite optimised for Kodi library headers
Provides: libsqlite3-dev
Replaces: libsqlite3-dev
Conflicts: libsqlite3-dev
