Origin: OSMC
Package: vero-userland-dev-osmc
Section: libs
Essential: No
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero userland package with headers
