Origin: OSMC
Package: vero-userland-dev-osmc
Version: 1.0.2
Section: libs
Essential: No
Priority: required
Depends: vero-userland-osmc (>=1.0.0)
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero userland package with headers
