Origin: OSMC
Package: atv-device-osmc
Version: 1.0.9
Section: metapackages
Essential: No
Depends: base-files-osmc, busybox, systemd, systemd-sysv, perftune-osmc, sysctl-osmc, atv-ftr-osmc, diskmount-osmc, apt-utils, sudo, less, module-init-tools, i386-network-osmc, locales, dialog, nano | editor, i386-splash-osmc, atv-userland-osmc, atv-bootloader-osmc, i386-remote-osmc, atv-remoteclient-osmc, atv-mediacenter-osmc, atv-kernel-osmc, apt-transport-https, hfsprogs
Priority: required
Architecture: i386
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: AppleTV metapackage
