[Unit]
Description=Broadcom 43xx bluetooth HCI
ConditionPathExists=/dev/serial1
Before=bluetooth.service
After=dev-ttyS0.device

[Service]
Type=simple
ExecStart=/usr/bin/rpi-btuart

[Install]
WantedBy=multi-user.target
