Origin: OSMC
Package: vero3-userland-osmc
Version: 2.0.5
Section: libs
Essential: No
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero 3 userland package
