Origin: OSMC
Package: vero3-userland-osmc
Version: 1.1.0-2
Section: libs
Essential: No
Priority: required
Architecture: arm64
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero 3 userland package
