Origin: OSMC
Package: cron-app-osmc
Version: 1.0.2
Section: metapackages
Essential: No
Depends: cron
Architecture: all
Priority: required
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: cron task scheduler for OSMC
