Origin: OSMC
Package: osmc-installer
Section: tools
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: The OSMC installer allows you to install OSMC on a variety of devices
