# vchiq
SUBSYSTEM=="vchiq",  GROUP="video", MODE="0660"
# sharedmem
SUBSYSTEM=="vc-sm",   GROUP="video", MODE="0660"
# vcio
SUBSYSTEM=="bcm2708_vcio",   GROUP="video", MODE="0660"
