[Unit]
Description = Splash
After = sysinit.target

[Service]
Type=oneshot
ExecStart = /bin/sh -c "/usr/bin/setterm --cursor off >/dev/tty1; grep -q quiet /proc/cmdline && /usr/bin/clear && /usr/bin/ply-image"

[Install]
WantedBy = basic.target
