[Unit]
Description = Splash
After = sysinit.target local-fs.target

[Service]
Type=oneshot
ExecStart = /bin/sh -c "grep -q quiet /proc/cmdline && /usr/bin/ply-image /usr/splash.png"

[Install]
WantedBy = basic.target
