Origin: OSMC
Package: aml-vnc-app-osmc
Version: 1.2.0-1
Section: metapackages
Essential: No
Depends: libvncserver1
Priority: required
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: A simple VNC server for OSMC Vero
