[Unit]
Description = atvclient
After = remote-fs.target

[Service]
Type = simple
ExecStart = /usr/sbin/atvclient -m
Restart = on-abort

[Install]
WantedBy = multi-user.target
