Origin: OSMC
Package: vero-userland-osmc
Version: 1.2.0-3
Section: libs
Essential: No
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero userland package
