Source: osmc-appletv-toolchain
Maintainer: Sam Nazarko <email@samnazarko.co.uk>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: osmc-appletv-toolchain
Architecture: all
Depends: qemu, binfmt-support, qemu-user-static
Description: OSMC Toolchain for original Apple TV
