[Unit]
Description = mount disks automatically with standby
After = remote-fs.target

[Service]
User = osmc
Group = osmc
Type = simple
ExecStartPre = /bin/sh -c "sudo rmdir /media/*; exit 0"
ExecStart = /usr/bin/udisks-glue --foreground

[Install]
WantedBy = multi-user.target
