[Unit]
Description = mount disks automatically with standby
After = remote-fs.target

[Service]
User = osmc
Group = osmc
Type = simple
ExecStartPre = /bin/sh -c "for dir in $(ls -l /media | egrep '^d' | awk '{print $NF'}); do rmdir $dir >/dev/null 2>&1; done"
ExecStart = /usr/bin/udisks-glue --foreground

[Install]
WantedBy = multi-user.target
