[Unit]
Description = mount disks automatically with standby
After = remote-fs.target

[Service]
User = osmc
Group = osmc
Type = simple
ExecStartPre = /bin/sh -c 'FSTAB=$(awk "{print \$2}" /etc/fstab|grep -i /media/); for f in /media/*; do if [ -d "$f" ];then if ! echo "$FSTAB" | grep -q "$f"; then sudo rmdir $f; echo "empty directory deleted "$f; fi fi done; exit 0'
ExecStart = /usr/bin/udisks-glue --foreground

[Install]
WantedBy = multi-user.target
