Origin: OSMC
Package: vero5-device-osmc
Version: 1.0.2
Section: metapackages
Essential: No
Depends: base-files-osmc, busybox, systemd, systemd-sysv, perftune-osmc, vero5-ftr-osmc, armv7-diskmount-osmc, apt-utils, sudo, less, kmod, armv7-network-osmc, locales, dialog, nano | editor, armv7-splash-osmc, vero5-userland-osmc, armv7-remote-osmc, fake-hwclock, vero564-kernel-osmc:arm64, kbd, vero5-earlysplash-osmc, vero5-wifi-osmc, vero5-mediacenter-osmc, vero5-fwenv-osmc, vero5-bootloader-osmc, vero5-secureosmc-osmc, lsb-release, edid-decode
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero 5 metapackage
Replaces: wireless-firmware-osmc
