[Unit]
Description=Vero3 BT upload
ConditionPathExists=/dev/ttyS1

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/brcm_patchram_plus --patchram /lib/firmware/%I.hcd /dev/ttyS1 --baudrate 2000000 --use_baudrate_for_download --enable_hci --no2bytes --tosleep=50000

[Install]
WantedBy=multi-user.target
