[Unit]
Description=Vero3 BT upload
ConditionPathExists=/dev/ttyS1

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/hciattach -n -s 115200 /dev/ttyS1 bcm43xx 2000000

[Install]
WantedBy=multi-user.target
