[Unit]
Description=Vero3 BT upload
Requires=dev-ttyS1.device
After=dev-ttyS1.device
Before=bluetooth.service connman.service

[Service]
Type=forking
ExecStart=/usr/bin/hciattach -s 115200 /dev/ttyS1 bcm43xx 2000000

[Install]
WantedBy=multi-user.target
