Origin: OSMC
Package: base-file
Version: 8.0
Section: misc
Essential: Yes
Priority: optional
Architecture: all
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: base-files for Debian Jessie with OSMC modifications
