[Unit]
Description=Sets up WiFi
After=local-fs.target
Before=connman.service

[Service]
Type=simple
ExecStartPre=/bin/echo -en "" > /dev/ttymxc3 # RTS UART pull down
ExecStart=/usr/bin/brcm_patchram_plus -d --patchram /lib/firmware/brcm/bcm4330.hcd --baudrate 3000000 --use_baudrate_for_download /dev/ttymxc3 --enable_hci --no2bytes --tosleep 1000 MAC_ADDR=43:29:B1:55:01:01
ExecStartPost=/sbin/hciconfig hci0 up
[Install]
WantedBy = multi-user.target
