Origin: OSMC
Package: osmc-appletv-remote
Version: 1.0
Section: tools
Essential: No
Priority: optional
Architecture: all
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: atvclient for 1st Generation Apple TV
