SUBSYSTEM=="gpio*", PROGRAM="/bin/sh -c 'chown -R root:osmc /sys/class/gpio && chmod -R 770 /sys/class/gpio; chown -R root:osmc /sys/devices/virtual/gpio && chmod -R 770 /sys/devices/virtual/gpio; chown -R root:osmc /sys/devices/platform/soc/*.gpio/gpio && chmod -R 770 /sys/devices/platform/soc/*.gpio/gpio'"
