Origin: OSMC
Package: atv-bootloader-osmc
Version: 1.0.0-3
Section: libs
Essential: No
Priority: required
Architecture: i386
Depends: make
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: AppleTV bootloader package
