Origin: OSMC
Package: atv-bootloader-osmc
Version: 1.0.0-1
Section: libs
Essential: No
Priority: required
Architecture: i386
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: AppleTV bootloader package
Installed-Size: 26438
