Origin: OSMC
Package: vero1-device-osmc
Version: 1.0.0
Section: metapackages
Essential: No
Depends: base-files-osmc, busybox, systemd, systemd-sysv, perftune-osmc, armv7-irqbalance-osmc, sysctl-osmc, vero1-ftr-osmc, diskmount-osmc, apt-utils, sudo, less, module-init-tools, armv7-network-osmc, vero-wifi-osmc, locales, dialog, nano, armv7-splash-osmc, armv7-remote-osmc, fake-hwclock, vero-kernel-osmc
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero 1 metapackage
