Origin: OSMC
Package: vero1-device-osmc
Version: 1.1.8
Section: metapackages
Essential: No
Depends: base-files-osmc, busybox, systemd, systemd-sysv, perftune-osmc, armv7-irqbalance-osmc, vero1-ftr-osmc, armv7-diskmount-osmc, apt-utils, sudo, less, kmod, armv7-network-osmc, ethtool, vero1-wifi-osmc, locales, dialog, nano | editor, armv7-splash-osmc, vero-userland-osmc, armv7-remote-osmc, fake-hwclock, vero-mediacenter-osmc, vero-kernel-osmc, kbd
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Vero 1 metapackage
