Origin: OSMC
Version: 0.9.0-5
Section: libs
Essential: No
Depends: libusb-0.1-4 
Conflicts: lirc, liblircclient0
Replaces: lirc, liblircclient0
Provides: lirc, liblircclient0
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: lirc for osmc
