Origin: OSMC
Version: 0.9.0-2
Section: libs
Essential: No
Depends: liblircclient0, libusb-0.1-4 
Conflicts: lirc
Replaces: lirc
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: lirc for osmc
