Origin: OSMC
Package: i386-toolchain-osmc
Version: 1.2.3
Section: tools
Essential: No
Priority: optional
Architecture: all
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: OSMC toolchain for i386 architecture
