Origin: OSMC
Version: 2.0.1
Section: kernel
Essential: No
Priority: required
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Kernel meta package bringing in the latest OSMC kernel for this device
