[Unit]
Description=Dolby Vision firmware loader
After=apploader.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStart=/usr/sbin/insmod /lib/firmware/osmc/dovi.ko

[Install]
WantedBy=apploader.target
