Origin: OSMC
Package: kernel-package-osmc
Version: 1.0.4
Section: tools
Priority: optional
Architecture: all
Depends: bc, binutils, build-essential, bzip2, dpkg-dev, file, gettext, kmod, lzma, po-debconf, xmlto, xz-utils, cpio
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Installs kernel build helper scripts
