[Unit]
Description = eventlircd remote support
After = remote-fs.target

[Service]
Type = simple
ExecStartPre = mkdir -p /var/run/lirc
ExecStart = /usr/sbin/eventlircd --evmap=/etc/eventlircd.d --socket=/var/run/lirc/lircd --repeat-filter --release=_UP -f
Restart = on-abort

[Install]
WantedBy = multi-user.target
