[Unit]
Description = lircd remote support
BindsTo = eventlircd.service

[Service]
Type = forking
PIDFile = /var/run/lirc/lircd-%I.pid
ExecStart = /bin/sh -c "/var/run/lirc/lircd-%I.sh"
ExecStopPost = /bin/rm -f /var/run/lirc/lircd-%I.pid /var/run/lirc/lircd-%I
