[Unit]
Description=Sets up system for first time run
After=local-fs.target
Requires=connman.service

[Service]
Type=simple
ExecStart=/usr/bin/ftr

[Install]
WantedBy = multi-user.target
