Origin: OSMC
Package: atv-client-osmc
Version: 1.0.0
Section: tools
Essential: No
Priority: optional
Architecture: i386
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: atvclient for 1st Generation Apple TV
