Origin: OSMC
Version: 4.0.2-2
Section: libs
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: libcec
Package: vero3-libcec-osmc
Architecture: armhf
Installed-Size: 1161
