Origin: OSMC
Package: rbp-userland-src-osmc
Section: libs
Essential: No
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Raspberry Pi userland package with headers
