<service-group>
<name replace-wildcards="yes">FTP File Sharing on %h</name> 
 ## Display Name 
 <service>
  <type>_ftp._tcp</type>
  <port>21</port>
 </service>
</service-group>
