Origin: OSMC
Package: rbp4-device-osmc
Version: 1.0.8
Section: metapackages
Essential: No
Depends: base-files-osmc, busybox, systemd, systemd-sysv, perftune-osmc, armv7-irqbalance-osmc, rbp4-ftr-osmc, armv7-diskmount-osmc, apt-utils, sudo, less, kmod, armv7-network-osmc, locales, dialog, nano | editor, rbp-bootloader-osmc, armv7-splash-osmc, rbp2-armmem-osmc, rbp-userland-osmc, armv7-remote-osmc, fake-hwclock, rbp4-mediacenter-osmc, rbp464-kernel-osmc:arm64, kbd, lsb-release
Priority: required
Architecture: armhf
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Raspberry Pi 4 metapackage
