Origin: OSMC
Package: perftune-osmc
Version: 1.1.5
Section: admin
Essential: No
Priority: required
Architecture: all
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: Performance tuning tweaks for OSMC
