Origin: OSMC
Package: a2dp-app-osmc
Version: 1.0.6
Section: metapackages
Essential: No
Depends: bluez, pulseaudio, pulseaudio-module-bluetooth, pulseaudio-module-zeroconf
Architecture: all
Priority: required
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: A2DP streaming capabilities for OSMC
