Package: diskmount-osmc
Origin: OSMC
Version: 9.99-15
Section: utils
Essential: No
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: diskmount transitional package for OSMC
Architecture: all
