<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
 <category label="32001">
 <setting label="Setting1" type="text" visible="false" enable="true" id="prefix"/>
 <setting id="firstrun" type="bool" default="true" visible="false"/>
 <setting id="ignored_devices" type="text" default="" visible="false"/>
 <setting action="RunScript($CWD/resources/lib/call_osmc_parent.py, walkthru)" id="walkthru" label="TEMP TESTING walkthru" option="close" type="action" visible="false"/>
 </category>
</settings>
