<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
 <category label="OSMC Settings">
 <setting label="Setting1" type="text" enable="true" id="prefix"/>
 <setting id="firstrun" type="bool" default="true" visible="false"/>
 <setting id="ignored_devices" type="text" default="" visible="false"/>
 </category>
</settings>
