[Unit]
Description=Improves system performance tunables
After=remote-fs.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/performance_tuner

[Install]
WantedBy = multi-user.target
