Origin: OSMC
Version: 1.0
Section: video
Essential: No
Depends: libvncserver0, libconfig++9
Priority: optional
Maintainer: Sam G Nazarko <email@samnazarko.co.uk>
Description: VNC for OSMC
Package: vnc-app-osmc
Architecture: armhf
