KERNEL=="galcore", SUBSYSTEM=="graphics_class", GROUP="video", MODE="0660"
KERNEL=="mxc_vpu", SUBSYSTEM=="mxc_vpu", GROUP="video", MODE="0660"
KERNEL=="mxc_ipu", SUBSYSTEM=="mxc_ipu", GROUP="video", MODE="0660"
